# Binarios de Lambda
aws-lambda/layer/
aws-lambda/iptv-checker-rs/
aws-lambda/.aws-sam/
aws-lambda/ffprobe-layer/

# Node
node_modules/
.next/

# Vercel
.vercel

# Env
.env
.env.local

# OS
.DS_Store
